<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ingreso de Productos</title>
  </head>
  <body>
    <h2>Producto</h2>
    <form action="/productos" method="POST">
      Name: <input type="text" name="title" /> Price:
      <input type="text" name="price" /> URL:
      <input type="text" name="thumbnail" />
      <button id='sendB'>Enviar</button>
      <button><a href="/productos" style="text-decoration: none; color: black;">Ver Productos</a></button>
    </form>
  </body>
</html>